apiVersion: v1
kind: Service
metadata:
  name: app-service
  labels:
    app: node-app
spec:
  selector:
    app: node-app   
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP
