apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'nginx'
        static_configs:
          - targets: ['nginx-exporter-service.default.svc.cluster.local:9113']

      - job_name: 'meu-app'
        static_configs:
          - targets: ['app-service.default.svc.cluster.local:3000']
