name: CI - Build & Push Docker

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: self-hosted

    defaults:
      run:
        shell: powershell

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18' # travar Node
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Build Docker image
        id: build
        run: |
          $FULL_SHA = "${{ github.sha }}"
          $TAG_SHA = $FULL_SHA.Substring(0,7)
          Write-Output "IMAGE=jlkarpyn/projeto" >> $env:GITHUB_ENV
          Write-Output "TAG_SHA=$TAG_SHA" >> $env:GITHUB_ENV

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t jlkarpyn/projeto:latest -t jlkarpyn/projeto:${{ env.TAG_SHA }} .
          docker push jlkarpyn/projeto:latest
          docker push jlkarpyn/projeto:${{ env.TAG_SHA }}
