name: CI - Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build-test:
    runs-on: [self-hosted, windows]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps
        shell: pwsh
        run: |
          if (Test-Path package-lock.json) {
              npm ci
          } else {
              npm install
          }

      - name: Run tests (se tiver)
        shell: pwsh
        run: |
          $scripts = npm run
          if ($scripts -match " test") { npm test } else { Write-Host "Sem script de teste. Pulando etapa." }

      - name: Set image tags
        shell: pwsh
        id: vars
        run: |
          echo "IMAGE=jlkarpyn/projeto" >> $env:GITHUB_OUTPUT
          echo "TAG_SHA=$($env:GITHUB_SHA.Substring(0,7))" >> $env:GITHUB_OUTPUT

      - name: Upload image tags for CD
        uses: actions/upload-artifact@v3
        with:
          name: image-tags
          path: |
            ${{ steps.vars.outputs.IMAGE }}
            ${{ steps.vars.outputs.TAG_SHA }}
