name: CI - Build & Push Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  ci:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: |
          if (Test-Path node_modules) {
              Write-Host "Removendo node_modules antigo..."
              Remove-Item -Recurse -Force node_modules
          }
          if (Test-Path package-lock.json) {
              Write-Host "Rodando npm ci..."
              npm ci
          } else {
              Write-Host "Rodando npm install..."
              npm install
          }
        shell: powershell

      - name: Run tests (opcional)
        run: |
          $scripts = npm run
          if ($scripts -match " test") {
              npm test
          } else {
              Write-Host "Sem script de teste. Pulando etapa."
          }
        shell: powershell

      - name: Set image tags
        id: vars
        run: |
          echo "IMAGE=jlkarpyn/projeto" >> $GITHUB_OUTPUT
          echo "TAG_SHA=${GITHUB_SHA.Substring(0,7)}" >> $GITHUB_OUTPUT
        shell: powershell

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ steps.vars.outputs.IMAGE }}:latest
            ${{ steps.vars.outputs.IMAGE }}:${{ steps.vars.outputs.TAG_SHA }}
          cache-from: type=registry,ref=${{ steps.vars.outputs.IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ steps.vars.outputs.IMAGE }}:buildcache,mode=max
